<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/stylesheet.css') }}"
    />
    <title>{{ pageTitle }}</title>
  </head>
  <nav>
    <h2>
      Navigation
      <ul>
        <li><a href="/">Index</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </h2>
  </nav>

  <body>
    <div class="container">{% block body %}xx {% endblock %}</div>
    <p>
      <a href="index.html">
        Index</a>
      &nbsp;
      <a href="about.html">About</a>
    </p>
  </body>
</html>
